{% extends "base2.html" %}
{% load static %}
<title>{% block title %} Product Details {% endblock title %}</title>


{% block content %}

<div class="container" style="margin-bottom:200px;">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block mt-5 prod-detail-img" width="200px" alt="Responsive image" src="{{ product.product_image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mb-2 h4">Product: {{ product.name|title }}</h5>
                        <h4 class="col-12 text-start">Brand: <span class="lead">{{ product.brand_name|title }}</span></h4>
                        <p class="col-12 text-start">Description: {{ product.product_description|slice:":355" }}.</p>
                    </div>
                </div>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Price</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <input type="number" id="quantity" name="quantity" min="1" max="99" value="1">
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-secondary btn-sm" id="add-button" value="{{ product.id }}">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="cart-cont">
    {% with total_qty=cart|length %}
        {% if total_qty > 0 %}
            <a href="{% url 'cart_summary' %}"><i class="fas fa-shopping-cart" id="cart-qty">{{total_qty}}</i></a>
        {% else %}
            <a href="{% url 'cart_summary' %}"><i class="fas fa-shopping-cart" id="cart-qty">0</i></a>
        {% endif %}
    {% endwith %}
    </div>
</div>

<div>
    
    <script>
        $(document).on('click', '#add-button', function(e){
            e.preventDefault()
            $.ajax({
                type:'POST',
                url: '{% url "add_to_cart" %}',
                data : {
                    productid: $('#add-button').val(),
                    productqty : $("#quantity").val(),
                    csrfmiddlewaretoken: "{{csrf_token}}" ,
                    action : 'post',
                },
                success: function(json){
                    document.getElementById("cart-qty").innerHTML = json.qty
                },
                error: function(response){
                    
                },
            });
        }) 
    </script>
</div>
{% endblock %}