{% extends 'base2.html' %}
{% load static %}

{% block content %}
    <div class="order-container" style="margin-bottom:-20px;">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center">MY ORDERS</h2>
            <div class="panel panel-default">
                {% if orders %}
               
                <div class="panel-body">
                    {% for order in orders %}
                    <div class="col-md-6 mx-auto text-center">
                        <button type="button" class="btn btn-warning btn-filter" data-target="Buy again">Buy Again</button>
                        <button type="button" class="btn btn-danger btn-filter" data-target="cancelled orders">Cancelled Orders</button>
                    </div>
                   
                    <div class="table-container">
                        <table class="table w-100">
                            <tbody>
                                <tr data-status="orders"></tr>
                                <tr data-status="ordered">
                                    <td>
                                        <div class="row">
                                            <div class="col col-6">
                                               
                                                <div class="media-body"><br>
                                                    <span class="media-meta pull-right">Order Date: {{order.created|date}}</span><br>
                                                    <h4 class="title">
                                                        {{order.product.name|title}}
                                                        <span class="pull-right ordered">(ordered)</span>
                                                    </h4>
                                                    <p class="summary"></p>
                                                </div>
                                            </div>
                                            <div class="col col-6"><br>
                                                <p>Shipment Date:<br> October 17, 2021</p>
                                                <p>Estimate Delivery Date: <br>  October 19, 2021 <br> 2 Day Express Delivery <br>({{order.delivery_status}})</p>
                                            </div> 
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="table-container" style="margin-bottom:212px;">
                        <table class="table w-100">
                            <tbody>
                                <tr data-status="orders"></tr>
                                <tr data-status="ordered">
                                    <td>
                                       <h4 class="text-center">You do not have any orders</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock content %}