{% extends 'base2.html' %}
{% load static %}


{% block content %}

<div class="login-wrap">
    <div class="login-form" style="text-align:center;">
        
        <form action="{% url 'accounts:password_reset' %}" method="post">
            {% csrf_token %}
            <h2 class="header-text">Reset Password</h2>
            <div class="loginput-cont">
                {{form.as_p}}
            </div> 
            <input style="font-size:18px;" type="submit" value="Submit" class="btn btn-primary">   
        </form>
       
    </div>
</div>
{% endblock content %}