{% extends 'base2.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}



{% block content %}
<!--PROFILE PAGE-->
<div class="user-profile-wrap" style="margin-bottom:100px;"> 
	<div class="mx-auto col-md-8"> 
		<div class="profile-form">
			<form action="{% url 'accounts:user-profile' user.pk %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col left m-2 p-5 card">
						<h3>User-Profile </h3>	
						<div class="text-center">
							<img src="{{ profile.profile_image.url }}" alt="" class="avatar rounded" width="150"> 
						</div>
						<div class="">
							<label for="firstname" class="form-label">{{u_form.first_name.label|title}}</label> 
							<p>{{u_form.first_name}}</p>
						</div>
						<div class="">
							<label for="" class="form-label">{{u_form.last_name.label|title}}</label> 
							<p>{{u_form.last_name}}</p>
							
						</div>
						<div class="">
							<label for="firstname" class="form-label">{{u_form.username.label|title}}</label> 
							<p>{{u_form.username}}</p>
						</div>
						<div class="">
							<label for="firstname" class="form-label">{{u_form.email.label|title}}</label> 
							<p>{{u_form.email}}</p>
						</div>
					</div>

					<div class="col right m-2 p-5 card"> 
						<div class="">
							<label for="address" class="form-label">{{p_form.address.label}}</label> 
							<p>{{p_form.address}}</p>
						</div>

						<div class="">
							<label for="address" class="form-label">{{p_form.city.label}}</label> 
							<p>{{p_form.city}}</p>
						</div> 

						<div class="">
							<label for="address" class="form-label">{{p_form.state.label}}</label> 
							<p>{{p_form.state}}</p> 
						</div>

						<div Class="">
							<label for="address" class="form-label">{{p_form.country.label}}</label> 
							<p>{{p_form.country}}</p>
						</div>

						<div Class="">
							<label for="address" class="form-label">{{p_form.zipcode.label}}</label> 
							<p>{{p_form.zipcode}}</p>
						</div>

						<div Class="">
							<label for="address" class="form-label">{{p_form.phone_no.label}}</label> 
							<p>{{p_form.phone_no}}</p>
						</div>

						<div Class="">
							<p>{{p_form.profile_image}}</p>
						</div>
						<div class="text-center">
							<button class="btn btn-primary form-control profile-button w-100" type="submit">SAVE PROFILE</button>
						</div>
					</div>
					
				</div>
				
		</form>
		</div>
	</div>
</div>
{% endblock content %}